@charset "UTF-8";
*{margin: 0; padding: 0;}
html, body{height: 100%;}
body{
    background-color: rgba(37, 196, 129, 1);
    background: linear-gradient(90deg, rgba(37, 196, 129, 1) 0%, rgba(37,183,196,1) 100%);
}
a{color: #666;}

section{
    margin: 50px;
}

h1{
    font-size: 30px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

table{
    width: 100%;
    table-layout: fixed;
}

.tbl-content td{
    width: 250px;
}

th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

td{
    padding: 15px;
    height: 30px;
    text-align: left;
    vertical-align: middle; /*테이블 내에서 상하 정렬, default 값: top*/
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.tbl-header{
    background-color: rgba(255,255,255,0.3);
}

.tbl-content{
    height: 300px;
    overflow-x: auto;
    margin-top: 0;
    border: 1px solid rgba(255,255,255, 0.8);
}
/*웹킷은 웹 브라우저를 만드는 데 기반을 제공하는 오픈 소스 응용 프로그램 프레임워크이다
크로싱 브라우저를 위해서 필요하기 때문입니다.
*/
::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0, 0.3);
}

::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0, 0.3);
}