@charset "UTF-8";
*{margin: 0; padding: 0; box-sizing: border-box;}
html, body{height: 100%;}
ul, ol{list-style: none;}
a{color: #666; text-decoration: none;}

table{
    width: 500px;
    margin: 100px auto;
}

table tr:nth-child(even){
    background: #f2f2f2;
}

table tr:hover{
    background: #bed8ff;
}

table tr:not(:first-child):hover{
    background: #f1f1f1;
    color: #000;
    height: 32px;
    vertical-align: middle;
}

th:nth-child(odd){
    
}