@charset "UTF-8";
html, body{height: 100%; background-color: cadetblue;} 
h1,h2,h3{
    margin: 0 !important; 
    padding:0; 
    line-height: 1;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #111;
}
