@charset "UTF-8";

/* table style */

.table-wrap{
    width: 500px;
    margin: 0 auto;
}

.table-wrap table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.table-wrap table td, .table-wrap table th{
    line-height: 28px;
    height: 28px;
    border: 1px solid black;

}

.table-wrap table th{
    background: #f9f9f9;
}

.table-wrap table tr:first-child th, .table-wrap table tr:last-child th{
    background: skyblue;
    color: white;
    height: 36px;
    
}