@charset "UTF-8";
*{margin: 0; padding: 0;}
table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
th{
    border: 1px solid #000;
    font-weight: bold;
}

td{
    border: 1px solid #000;
}