@charset "UTF-8";
/*CSS 우선 순위 :
1. 속성값뒤에!important를붙인속성

2. HTML에서style을직접지정한속성

3. #id로지정한 속성 

4. .클래스, :추상클래스 로 지정한 속성

5. 태그이름 으로 지정한 속성

6. 상위 객체에 의해 상속된 속성*/

@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ACCchildrenheartOTF-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrenheartOTF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header{
    background-color:cadetblue;
    line-height: 60px;
    overflow: hidden;
}

#header #logo{
    float: left;
    font-weight: 100px;
}
#header #logo a{
    line-height: 60px;
    font-weight: 100px;
    font-family: 'Yeongdo-Rg';
}

#header #gnb{
    float: right;
}

#header #gnb ul{
    overflow: hidden;
}

#header #gnb ul li{
    float: left;
    margin-right: 10px;
    color: red;
    font-family: 'ACCchildrenheartOTF-Regular';
}

#gnb ul li:first-child{
    margin-right: 0;
}

/*mainbanner*/
#mainbanner{
    height: 850px;
    background-image: url(../images/main_banner_img.jpg);
    background-position: center top;
    background-size:cover;
    background-repeat: no-repeat;
}

/*gallery area*/
#container{
    width: 1200px;
    min-height: 500px;
    margin: 0 auto;
    background:antiquewhite;
}
#container h2{
    text-align: center;
    color: black;
    padding: 30px 0 15px;
    margin-bottom: 15px;
    border: 1px solid #f1f1f1;
}
#container section{
    overflow: hidden;
}
#container section .items h3{
    padding: 10px 0;
    margin-bottom: 10px;
}

#container section.type-a .items{
    float: left;
    width: calc(25% - 40px);
    min-height: 100px;
    padding: 10px 20px;
    text-align: center;
}

#container section.type-a .items .bg_box{
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}

#container section.type-a .items:nth-child(1) .bg_box{
    background-image: url(../images/m_01.png);
}

#container section.type-a .items:nth-child(2) .bg_box{
    background-image: url(../images/m_02.png);
}
#container section.type-a .items:nth-child(3) .bg_box{
    background-image: url(../images/m_03.png);
}
#container section.type-a .items:nth-child(4) .bg_box{
    background-image: url(../images/m_04.png);
}

#container section.type-a .items:nth-child(5) .bg_box{
    background-image: url(../images/s_01.png);
}

#container section.type-a .items:nth-child(6) .bg_box{
    background-image: url(../images/s_02.png);
}

#container section.type-a .items:nth-child(7) .bg_box{
    background-image: url(../images/s_03.png);
}

#container section.type-a .items:nth-child(8) .bg_box{
    background-image: url(../images/s_04.png);
}
/*gallery area -b*/

#container section.type-b .items{
    float: left;
    width: 25%;
    text-align: center;
}

#container section.type-b .items .box{
    min-height: 100px;
    margin: 0 10px 20px;
    padding: 10px;
    border: 1px solid #f1f1f1;
}
#footer{
    text-align: center;
    border-top: 1px solid #f1f1f1;
    padding: 20px 0;
    margin-top: 50;
    background: #f9f9f9;
}

#footer .inner{
    width: 1200px;
    margin: 0 auto;
}