@charset "UTF-8";
body{ background: black; }
@keyframes spinner1 {
    from{
        transform: scale(1.6) rotate(0deg);
    }
    to{
        transform: scale(1.6) rotate(360deg);
    }
}
@keyframes spinner2 {
    from{
        transform: scale(1.2) rotate(360deg);
    }
    to{
        transform: scale(1.2) rotate(0deg);
    }
}

@keyframes textAni {
    from{
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }
}

#wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#spinner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

#spinner p{
    position: relative;
    font-size: 10px;
    color: white;
    letter-spacing: -0.3px;
    z-index: 500;
    animation-name: textAni;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#spinner div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 100%;
    box-sizing: border-box;
    z-index: 100;
}

#spinner div:nth-of-type(1){
    border: 3px solid rgba(110, 240, 50, 0.2);
    animation-name: spinner1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#spinner div:nth-of-type(2){
    border: 3px solid rgba(110, 240, 50, 0.8);
    animation-name: spinner2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#spinner div::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    transform: scaleX(.2) scaleY(1.2);
}