@charset "UTF-8";
*{margin: 0; padding: 0;}
html, body{height: 100%;}
ul, ol{list-style: none;}
body{
    color: #fff;
    font-size: 18px;
    text-align: center;
    background-color: #3498db;
    transition: background-color 1s ease;
}
a{ /*버튼 속성*/
    display: inline-block; 
    color: #c8392b;
    background: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 20px;
}

.fixed{
    position: fixed;
    top: 0;
    z-index: 10;
}

nav{
    position: absolute;
    width: 100%;
    height: 70px;
    /* top: auto; */
    bottom: 0;
    background-color: #fff;
    min-width: 380px;
}

nav li{
    display: inline-block;
    line-height: 70px;
    padding: 0 10px;
}
nav li a{
    color: #757575;
    text-transform: uppercase;
}

.slide{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.slide .inside{
    transition: .5s ease;
    opacity: 0;
    margin-left: -100px;
}
.slide.on .inside{
    opacity: 1;
    margin-left: 0;
}
.slide .inside .items h2{
    font-size: 24px;
}