@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}
html, body{height: 100%;}
ul, ol{list-style: none;}
a{color: #666;}
/*공통*/
body{
    margin: 0 auto;
    width: 100%;
    font-family: "Montserrat", "Noto Sans Kr", "맑은 고딕", "Malgun Gothic", sans-serif
}
/*버튼*/
.button{
    font-size: 16px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    margin: 10px;
    border-radius: 50px;
    background: #18d26e;
    transition: 0.5s;
    text-decoration: none;
}
.button:hover{
    background: white;
    color: #000;
}
/*버튼*/
/*탑버튼*/
.back-to-top{
    position: fixed;
    width: 30px;
    height: 30px;
    right: 10px;
    bottom: 10px;
    background: #000;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    transition: 1s;
    opacity: 0;
    z-index: 800;
}
.back-to-top a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}
/*탑버튼*/
/*햄버거*/
input[type=checkbox]#gnbcheck{
    display: none; /*인풋버튼 없애기*/
}

#gnbbtn{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 10px;
    right: 10px;
    z-index: 500;
    display: none;
}
#gnbbtn > span{
    position: absolute;
    top: 16px;
    height: 1.6px;
    width: 32px;
    background: #fff;
    transform: rotateY(-50%);
}
#gnbbtn > span:nth-child(1){
    top: 8px;
}
#gnbbtn > span:nth-child(3){
    top: 24px;
}
/*모바일 close 버튼*/
#mobile-close-btn{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 30px;
    right: 10px;
    display: none;
}
#mobile-close-btn::before, #mobile-close-btn::after{
    content: '';
    position: absolute;
    height: 1.6px;
    width: 32px; /*또는 100%*/
    top: 16px;
    background: #fff;
    transform: translateY(-50%) rotate(45deg);
}
#mobile-close-btn::before{
    transform: translateY(-50%) rotate(-45deg);
}
/*햄버거 끝*/
/*타이틀*/
.on{
    opacity: 1;
}
/*공통*/
/*해더*/
#header{
    overflow: hidden;
    width: 100%;
    top: 0;
    z-index: 800;
    display: flex;
    background: #fff;
    display: inline-block;
}
#header #top-logo{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
}
#header #top-logo a{
    height: 130px;
    width: 100%;
}

#gnb{
    overflow: hidden;
}
.gnbhomepage {
    overflow: hidden;
    width: 100%;
}
.gnbhomepage .homepage{
    width: 60%;
}
.gnbhomepage .homepage li{
    display: inline-block;
}
#gnb .login{
    float: right;
    height: 20px;
    display: flex;
    width: 40%;
}
#gnb .login li{
    position: relative;
}
#gnb .login li::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    left: 0;
    top: 30%;
    background: #666;
}
#gnb .login li:first-child::after{
    display: none;
}
#gnb .login li a{
    float: right;
    text-decoration: none;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
}

#gnb .topgnb{
    width: 900px;
    height: 120px;
    display: flex;
}
#gnb .topgnb .topgnbli{
    width: 100%;
    z-index: 100;
    padding-top: 40px;
}
#gnb .topgnb .topgnbli:hover .submenu{
    display: block;
    transition: .5s;
}
#gnb .topgnb .topgnbli > a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
}
#gnb ul li a:hover{color: #18d26e;}
#gnb .topgnb .topgnbli .submenu{
    width: 180px;
    height: 400px;
    display: none;
    position: absolute;
    padding-top: 30px;
    border-top: 1px solid #666;
    background: #fff;
    border: 1px solid #dfdfdf;
}
#gnb .topgnb .topgnbli .submenu li{
    float: left;
    display: block;
    margin-top: 5px;
}
#gnb .topgnb .topgnbli .submenu li a{
    width: 300px;
    text-decoration: none;
    color: #000;
}

/* 하단메뉴*/
/*하위메뉴 끝*/
/*해더 끝*/
.mainbanner{
    width: 100%;
    height: 550px;
    position: relative;
}
.mainbanner .mainbannerh1{
    position: absolute;
    top: 100px;
    left: 150px;
    color: #fff;
    font-size: 50px;
}
.mainbanner .mainimg img{
    width: 100%;
    height: 550px;
}
.mainbanner .mainbox{
    position: absolute;
    width: 460px;
    height: 260px;
    background: rgba(0, 237, 206, 0.5);
    top: 350px;
    left: 200px;
}

/*category*/
.category{
    overflow: hidden;
    width: 1580px;
    height: 500px;
    margin: 0 auto;
}
.category-inner{
    padding-top: 105px;
    padding-bottom: 150px;
}
.category .category-left{
    float: left;
    width: 300px;
}
.category .category-left li{
    text-align: center;
    width: 200px;
    height: 50px;
    border-top: 3px solid #dfdfdf;
    border-bottom: 3px solid #dfdfdf;
    margin-top: 5px;
}
.category .category-left li:hover{
    border-radius: 15px;
    transition: .5s;
    background: #007ea0;
    border-top: none;
    border-bottom: none;
    height: 50px;
}
.category .category-left li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    color: #000;
}
.category .category-right{
    width: calc(100% - 320px);
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;
    overflow: hidden;
}
.category .category-right li{
    display: inline-block;
    height: 300px;
    padding: 30px;
}
.category .category-right li a{
    text-decoration: none;
    width: 200px;
    overflow: hidden;
    display: grid;
}
.category .category-right li a h2{
    font-size: 18px;
    width: 200px;
    padding-bottom: 15px;
}
.category .category-right li a h3{
    font-size: 12px;
    padding-bottom: 25px;
    border-bottom: 3px solid #18d26e;
}
.category .category-right li a span{
    padding-top: 25px;
    height: 50px;
}
/*category end*/
/*midbanner*/
.midbanner{
    width: 1580px;
    margin: 0 auto;
    height: 500px;
}
.midbanner .midul{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.midbanner .midul li{
    display: inline-block;
    width: 265px;
    padding: 70px 0 ;
}
.midbanner .midul li:nth-child(odd){
    background: #f8f8f8;
}
.midbanner .midul li:hover img{
    transform: rotateY(720deg);
    transition: 1.5s;
}
.midbanner .midul a{
    text-decoration: none;
    display: grid;
    justify-content: space-around;
    position: absolute;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.midbanner .midul li a img{
    width: 70px;
}
/*midbanner end*/
/*swiper*/
.swiper .swiper-wrapper .swiper-slide{
    display: inline-block;
    text-align: center;
    z-index: 0;
}
/*swiper*/
/*pride*/
.pride{
    background: #0f91bc;
}
.pride .prideul{
    width: 1580px;
    margin: 0 auto;
}
.pride .prideul li{
    display: inline-block;
    width: 24%;
    height: 380px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.pride .prideul li:hover img{
    box-shadow: 1px #fff;
}
.pride .prideul li a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: grid;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}
.pride .prideul li a img{
    width: 140px;
    height: 140px;
}

/*pride end*/
/*photo*/
.photo{
    background: #f8f8f8;
}
.photo .story{
    width: 1580px;
    margin: 0 auto;
}
.photo .story .topphoto{
    height: 100px;
    overflow: hidden;
}
.photo .story .topphoto .text{
    float: left;
}
.photo .story .topphoto .text h3{
    font-size: 20px;
}
.photo .story .topphoto .text h2{
    font-size: 32px;
}
.photo .story .topphoto .button-right{
    float: right;
    padding-top: 30px;
}
.photo .story .topphoto .button-right button{
    /* background: #ffb93f; */
    font-weight: bold;
    color: #000;
    width: 120px;
    font-size: 16px;
    height: 50px;
    background: #fff;
    border: 2px solid #f1f1f1;
}
.photo .story .topphoto .button-right button:hover{
    border-color: #ffb93f;
    background: #fff;
}
.photo .story .bottom{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.photo .story .bottom .bottomli{
    display: inline-block;
    padding-top: 30px;
}
.photo .story .bottom .bottomli a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.photo .story .bottom .bottomli a img{
    width: 330px;
    height: 200px;
}
.photo .story .bottom .bottomli a p{
    padding: 15px 0 30px 0; 
}
/*photo end*/


/*footer*/
#footer{
    overflow: hidden;
}
#footer .footertop{
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
}
#footer .footertop .left-footer{
    display: flex;
    align-items: center;
    width: 75%;
    height: 60px;
}
#footer .footertop .left-footer li{
    display: inline-block;
    position: relative;
    padding-left: 30px;
}
#footer .footertop .left-footer li::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    left: 15px;
    top: 30%;
    background: #666;
}
#footer .footertop .left-footer li:first-child::after{
    display: none;
}
#footer .footertop .left-footer li:nth-child(2) a{
    color: #4b63c3;
}
#footer .footertop .left-footer li:hover{
    text-decoration: underline;
}
#footer .footertop li a{
    text-decoration: none;
}
#footer .footertop .right-footer{
    float: right;
    width: 23%;
}
#footer .footertop .right-footer .familysite{
    width: 180px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
}
#footer .footertop .right-footer a{
    display: inline-block;
    border: 1px solid #d4d4d4;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
#footer .footer-inner{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 150px;
    padding-top: 30px;
}
#footer .footer-text{
    color: #666;
}
#footer .footer-text p:nth-child(4){
    padding-top: 20px;
}
#footer .footer-inner .footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
#footer .footer-inner .footer-logo img{
    padding-right: 20px;
}
/*media쿼리*/

