*{padding: 0; margin: 0;}


/*px > 고정값 
    %  > 비율(부모의 폭의 기준으로 양이 결정(=비율))
    공식 
    요소의 넓이 / 요소의 부모 넓이  = 값*100 = 넓이값%
*/

img{
     max-width: 100%;  /*최대치 - 부모기준으로 최대 100%*/
}


#wrap{
     width: 63.15%; /*1200/1900=0.6315*100*/
     overflow: hidden;
    margin: 150px auto;  
    background-color: antiquewhite;
}

header{
    width: 100%; 
    height: 100px; 
    background-color: aqua;
}

section{
    width: 51.66%;  /*620/1200=0.5166*100*/
    float: left;  
    height: 200px;  
    background-color: blue;
}

aside{
    width: 45%;  /*540/1200=0.45*100*/
    float: right; 
    height: 200px; 
    background-color: brown;
}

footer{
    width: 100%; 
    background-color:cornflowerblue;
    height: 100px;
    clear: both;  /*float속성을 무시*/
}









