@charset "UTF-8";

.menu-tree-management{
    display: inline-block;
    box-sizing: border-box;
    padding: 30px;
}

.menu-tree-management .title{
    font-size: 16px;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    margin-bottom: 20px;
}

.menu-tree-management input[type=checkbox]{
    display: none;
}

.menu-tree-management input[type=checkbox]+label{
    position: relative;
    display: inline-block;
    padding-left: 30px;
    color: #333;
    height: 19px;
    line-height: 19px;
}
.menu-tree-management input[type=checkbox]:checked + label::after{
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    top: 0;
    left: 0;
    background-image: url(../메뉴트리/menu_tree_icon_minus.png);
}

.menu-tree-management input[type=checkbox] + label::before{
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    top: 0;
    left: 0;
    background-image: url(../메뉴트리/menu_tree_icon_plus.png);
}

.menu-tree-management input[type=checkbox] + label ~ *{
    display: none;
}

.menu-tree-management input[type=checkbox]:checked + label ~ *{
    display: block;
}

.menu-tree-management input[type=checkbox] + label{
    color: blue;
}

.menu-tree-management .table-ctn .menu-tree > ul > li{
    margin-bottom: 30px;
}

.menu-tree-management .table-ctn .menu-tree .sub-menu{
    margin-left: 30px;
    margin-top: 25px;
}

.menu-tree-management .table-ctn .menu-tree .sub-menu > li{
    position: relative;
    padding-left: 18px;
    margin-bottom: 18px;
    font-size: 14px;
    color: #666;
}

.menu-tree-management .table-ctn .menu-tree .sub-menu > li::before{
    content: 'L';
    position: absolute;
    top: 0;
    left: 0;
}