@charset "UTF-8";
:root{ --content-width: 1320px; }

/* 공통UI */
a.common-btn{
    display: inline-block;
    width: 180px;
    height: 60px;
    font-size: 20px;
    color: white;
    line-height: 60px;
    border-radius: 5px;
    background: #0055b8;
}

/* 메인배너 */
#mainbanner{
    background-image: url(../images/main_banner_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
#mainbanner .inner{
    position: relative;
    width: var(--content-width);
    height: 100vh;
    margin: 0 auto;
}
#mainbanner .maintext{
    position: absolute;
    text-align: center;
    width: 100%;
    min-height: 254px;
    top: 50%;
    transform: translateY(-50%);
}

/*메인타이틀*/
#mainbanner .maintext p.maintitle{
    font-size: 50px;
    line-height: 60px;
    color: #333;
}

/* 서브타이틀 */
#mainbanner .maintext p.subtitle{
    margin-top: 30px;
    font-size: 20px;
    color: #666;
}
#mainbanner .maintext a.common-btn{ margin-top: 40px; }
#wrap{
    width: var(--content-width);
    margin: 0 auto;
    background: #f1f1f1;
}
/* 상단메뉴 */
#header{
    position: fixed;
    width: var(--content-width);
    top: 0;
    overflow: hidden;
    background: beige;
    padding: 45px 25px 0;
    overflow: hidden;
    box-sizing: border-box;
}
#logo{ float: left; }

#header .inner{ float: right; }
#header .inner #gnb{ margin-right: 103px; }
#header .inner #gnb li{ margin-right: 47px; }
#header .inner #gnb li:last-child{ margin-left: 0px; }

#header .inner > ul{
    overflow: hidden;
    float: left;
}

#header .inner > ul > li{
    float: left;
    height: 20px;
}
#header .inner > ul > li > a{ line-height: 20px; }

#header .inner #login-menu li{ margin-right: 30px; }
#header .inner #login-menu li:last-child{ margin-right: 0px; }
#header .inner #login-menu li span.count{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    float: right;
    font-size: 14px;
    color: white;
    background: #ffc01d;
    margin-left: 4px;
    border-radius: 100%;
}

/* 컨텐츠 영역 */
#container section .inner{
    width: var(--content-width);
    min-height: 650px;
    margin: 0 auto;
    text-align: center;
}

/* 첫번째 섹션 */
#container section:nth-child(1) .inner{
    padding-top: 165px;
    box-sizing: border-box;
}
#container section .inner .box-wrap{
    overflow: hidden;
}
#container section .inner .box-wrap li{
    float: left;
    width: 25%;
    padding: 0 20px;
    box-sizing: border-box;
}
#container section .inner .box-wrap li .items{
    border: 1px solid #e3e3e3;
    padding: 45px 0;
    min-height: 270px;
    box-sizing: border-box;
}

#container section .inner .box-wrap li .items h3{
    font-size: 20px;
    line-height: 1;
    color: #252525;
}
#container section .inner .box-wrap li .items p{
    margin-top: 30px; 
    padding: 0 55px;
    line-height: 24px;
}
#container section .inner .box-wrap li .items img{
    margin-top: 32px; 
    line-height: 24px;
}

/* 두번쨰 섹션 */
#container section:nth-child(2) .inner{
    min-height: 652px;
    padding-top: 146px;
    box-sizing: border-box;
    background: #f9f9f9;
}
#container section .inner h2{
    font-size: 45px;
    line-height: 60px;
    color: #333;
}
#container section .inner .subtitle{
    margin-top: 21px;
    font-size: 24px;
    line-height: 36px;
    color: #666;
}

#container section:nth-child(4){
    background: #f4f4f4;
}

#container section:nth-child(5){
    background: #1d314a;
}