@charset "UTF-8";
body{
    width:calc(100%-100px);
}

#box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background: green;
    color: white;
    border-radius: 50%;
    /*animation*/
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
#box:nth-child(1){ top: 0; }
#box:nth-child(2){ 
    top: 10%;
    animation-name: rotate1; 
}
#box:nth-child(3){ 
    top: 25%; 
    animation-name: rotate2; 
}
#box:nth-child(4){ 
    top: 25%; 
}
#box:nth-child(5){ top: 50%; }

@keyframes rotate {
    /* 
    from{} / 시작
    to{}  / 끝
    */
    0%{
        left: 0;
        background-color: red;
    }
    25%{
        background-color: yellow;
    }
    50%{
        background-color: green;
        transform: rotate(3600deg);
    }
    75%{
        background-color: blue;
    }
    100%{
        background-color: violet;
        left: 1000px;
    }
}
@keyframes rotate1{
    0%{
        top: 0;
        background-color: red;
    }
    25%{
        background-color: yellow;
    }
    50%{
        background-color: green;
        transform: rotate(3600deg);
    }
    75%{
        background-color: blue;
    }
    100%{
        background-color: violet;
        top: 1000px;
    }
}
@keyframes rotate2{
    0%{
        top: 0;
        left: 0;
        background-color: red;
    }
    25%{
        background-color: yellow;
    }
    50%{
        background-color: green;
        transform: rotate(3600deg);
    }
    75%{
        background-color: blue;
    }
    100%{
        background-color: violet;
        top: 1000px;
        left: 1000px;
    }
}