@charset "UTF-8";
.wrab-box{
    margin-top: 500px;
    width: 800px;
    height: 800px;
    background-color:steelblue;
}

.box {
    width: 250px;
    height: 250px;
    line-height: 250px;
    background: bisque;
    top: -100px;
    text-align: center;
    font-size: 32px;
    color: blue;
}

.box.rel{
    position:relative;
}

.box.abs{
    position: absolute; /*부모요소 중 static이 아닌 포지션속성을 갖고 있는 요소를 기준으로 위치를 위치값을 갖는다.*/
    top: 0;
}
.box.abs:nth-child(1){
    z-index: 89;
    top: 50px;
    left: 50px;
    background-color: red;
}

.box.abs:nth-child(2){
    z-index: 91; 
    top: 100px;
    left: 100px;
    background-color:darkgoldenrod;
}
.box.abs:nth-child(3){
    z-index: 93;
    top: 150px;
    left: 150px;
    background-color:dodgerblue;
}
.box.abs:nth-child(4){
    z-index: 95; 
    top: 200px;
    left: 200px;
    background-color:deepskyblue;
}

.box.abs:nth-child(5){
    z-index: 97;
    top: 250px;
    left: 250px;
    background-color: antiquewhite;
}
