@charset "UTF-8";

html, body{height: 100%;}
.width-transition{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    font-size: 2rem;
    color: aliceblue;
    background-color: antiquewhite;
    transition-property: all;
    transition-duration: 3s;
    transition-delay: 0.5s;
    transition-timing-function: linear;
    border-radius: 10%;
}

.width-transition:hover{
    width: 700px;
    height: 800px;
    background-color: blue;
    transform: rotate(360deg);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
    border-radius: 90%;
}

.aside-transition{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 500px;
    font-size: 2rem;
    color: aliceblue;
    background-color: beige;
    transition-property: all;
    transition-duration: 3s;
    transition-delay: 0.5s;
    transition-timing-function: linear;
    border-radius: 10%;
}

.aside-transition:hover{
    width: 300px;
    height: 1200px;
    background-color: green;
    transform: rotate(360deg);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
    border-radius: 90%;
}