@charset "UTF-8";
:root {
 --content-width: 100%;
}
*{margin: 0; padding: 0;}
html, body{height: 100%;}
ul, ol{list-style: none;}
body{
    color: #fff;
    font-size: 18px;
}
#layout{
    width: var(--content-width);
    min-height: 650px;
    margin: 0 auto;
}
/*공통*/
.view{
    display: inline-block; 
    text-transform: capitalize;
    color: #c8392b;
    background: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 20px;
}
#wrap .slide .inside .items .text-box .category{
    position: relative;
    display: flex;
    line-height: 50px;
    top: 40%;
    color: #2b66f6;
    font-size: 20px;
}
#wrap .slide .inside .items .text-box .title{
    position: absolute;
    display: flex;
    top: 30%;
    color: #000;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 34px;
}


/*내부 전체속성*/ 
#layout #wrap {
    width: 100%;
    padding-top: 100px;
    box-sizing: border-box;
    overflow: hidden;
}
/*섹션속성*/
#wrap .slide {
    min-height: 650px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
#wrap .slide .inside{
    width: var(--content-width);
    height: 100%;
    min-height: 650px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.slide.on{
    width: 100%;
    height: 100%;
}
.slide .inside .items h2{
    font-size: 24px;
}
/*섹션 속성끝*/

/* 상단메뉴 */
#header{ /*메뉴 최상단 속성*/
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 100;
    /* border-bottom: 1px solid #000; */
}
#header .h-inner{
    overflow: hidden;
    width: 100%;
    position: fixed;
    float: left;
    position: relative;
}
/*로고*/
#header .h-inner #logo{ 
    padding: 30px;
    position: absolute;
    float: left; 
    cursor: pointer;
} 
#header .h-inner .inner #logo img{
    display: inline-block;
    height: 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-indent: -9999px;
    vertical-align: middle;
} /*로고 끝*/
#header .h-inner .inner{
    z-index: 1000;
}
#header .h-inner .inner #gnb{
    width: 100%;  
    top: 0;
    left: 0;
    overflow: hidden;  
    display: flex;
    background: #f1f1f1;
}
/* 하단메뉴*/
#header .h-inner .inner #gnb > li{
    width: 400px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    position: relative;
}
#gnb > li:nth-child(1){ margin-left: 450px; }
#header .h-inner .inner #gnb > li:hover{
    transition-duration: 0.5s;
    background: #f1f1f1;
}
#header .h-inner .inner #gnb li:hover .submenu{
    height: 250px;
    transition-duration: 1s;
    text-align: center;
    margin: 0;
    background: #f1f1f1;
}
.submenu>li{ line-height: 50px; }
.submenu{ height: 0; overflow: hidden; }
/*하위메뉴 끝*/
/* 로그인 */
#header .inner .login{
    width: 35%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#header .inner .login li{
    float: right;
    padding: 10px;
}

#header .inner .login li:nth-child(1){
    margin-left: 100px;
}
/* 로그인 끝 */

/*섹션 1*/
.slide:nth-child(1) .inside{
    padding-top: 300px;
    box-sizing: border-box;
    background-image: url(../img/다운로드.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    z-index: -100;
}
/*섹션2*/
.slide:nth-child(2) .inside{
    overflow: hidden;
}
#wrap .slide:nth-child(2) .inside .items{
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
}
#wrap .slide:nth-child(2) .inside .items .video-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#wrap .slide:nth-child(2) .inside .items .text-box{
    position: relative;
    text-align: center;
    z-index: 10;
    padding-top: 300px;
} 

/* 섹션3 */
.slide:nth-child(3) .inside{
    /* width: 100%;
    height: 100%; */
}
#wrap .slide:nth-child(3) .inside .items{
    position: relative;
    overflow: hidden;
    background: #fff;
}
#wrap .slide:nth-child(3) .inside .items .text-box{
    position: absolute;
    color: #000;
    width: 50%;
    height: 100%;
    /* text-align: center; */
}
/* #wrap .slide:nth-child(3) .inside .items .text-box h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrap .slide:nth-child(3) .inside .items .text-box p{
    display: flex;
    justify-content: center;
    align-items: center;
}    */
#wrap .slide:nth-child(3) .inside .items .img-box{
    float: right;
    width: 50%;
    height: 100%;
}
#wrap .slide:nth-child(3) .inside .items .img-box img{
    float: right;
    top: 0;
    width: 100%;
    height: 100%;
}
#wrap .slide:nth-child(3) .inside .items .view{
    width: 30px;
    height: 30px;
    background: #000;
    position: relative;
}
/*네번쨰 섹션*/
/* #wrap .slide:nth-child(4) .inside{

} */
#wrap .slide:nth-child(4) .inside .items{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
}
#wrap .slide:nth-child(4) .inside .items .text-box{
    position: absolute;
    float: right;
    color: #000;
    width: 50%;
    height: 100%;

    right: 0;
}
/* #wrap .slide:nth-child(4) .inside .items .text-box h2{
    position: relative;
    color: #000;
    width: 50%;
    float: right;
    padding-left: 50px;
}
#wrap .slide:nth-child(4) .inside .items .text-box p{
    position: absolute;
    color: #000;
    padding-top: 100px;
    float: right;
    right: 0;
    padding-right: 100px;
} */
#wrap .slide:nth-child(4) .inside .items .img-box{
    width: 100%;
    height: 100%;
}
#wrap .slide:nth-child(4) .inside .items .img-box img{
    float: left;
    width: 50%;
    height: 85%;
}
#wrap .slide:nth-child(4) .inside .items .view{
    width: 30px;
    height: 30px;
    background: #000;
    position: relative;
}
/*다섯번째 섹션*/
#wrap .slide:nth-child(5) .inside{
    /* background-image: url(../img/가상배경-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100%;
    background-position-y: 100%; */
}

#wrap .slide:nth-child(5) .inside .items{
    position: relative;
    overflow: hidden;
    background: #f1f1f1;
    width: 100%;
    height: 100%;
    /* display: inline-block; */
}
#wrap .slide:nth-child(5) .inside .items .text-box{
    position: absolute;
    float: left;
    background: #fff;
    color: #000;
    width: 50%;
    height: 100%;
}

#wrap .slide:nth-child(5) .inside .items .img-box{
    width: 50%;
    height: 100%;
    overflow: hidden;
    float: right;
}
#wrap .slide:nth-child(5) .inside .items .img-box ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px 20px 0 0;
}
#wrap .slide:nth-child(5) .inside .items .view{
    width: 30px;
    height: 30px;
    background: #000;
    position: relative;
}
/*여섯번쨰 섹션*/
#wrap .slide:nth-child(6) .inside{
    display: inline-block;
    position: relative;
    overflow: hidden;
    background: #f1f1f1;
}
#wrap .slide:nth-child(6) .inside .items{
    width: 100%;
    height: 100%;
    position: absolute;
}
#wrap .slide:nth-child(6) .inside .items .text-box{
    float: left;
    width: 100%;
    height: 50%;
    margin-left: 10px;
}
#wrap .slide:nth-child(6) .inside .items .text-box .more{
    float: right;
}
#wrap .slide:nth-child(6) .inside .items .img-box{
    position: relative;
    float: right;
    width: 100%;
    height: 50%;
}
#wrap .slide:nth-child(6) .inside .items .img-box .card-items2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

#wrap .slide:nth-child(6) .inside .items .img-box .card-items2 .card-item{
    width: calc(25% - 10px);
    height: 80%;
    overflow: hidden;
    border-radius: 10px;
    padding-left: 30px;
}
#wrap .slide:nth-child(6) .inside .items .img-box .card-items2 .card-item a img{
    transition: .5s;
    transform-origin: center;
    transform: scale(1.0, 1.0);
    box-sizing: border-box;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
}

#wrap .slide:nth-child(6) .inside .items .img-box .card-items2 .card-item a img:hover{
    transform: scale(1.5, 1.5);
    width: 100%;
    height: 100%;
}
#wrap .slide:nth-child(6) .inside .items .img-box .card-items2 .card-item a h3{
    position: absolute;
    text-align: center;
    width: 25%;
}
/*일곱번째 섹션*/
/* #wrap .slide:nth-child(7) .inside{
    width: 100%;
    height: 100%;
} */
#wrap .slide:nth-child(7) .inside .items{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
#wrap .slide:nth-child(7) .inside .items .img-box img{
    width: 100%;
}
#wrap .slide:nth-child(7) .inside .items .text-box{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
}
#wrap .slide:nth-child(7) .inside .items .text-box h2{
    width: 50%;
    font-size: 32px;
    font-weight: bold;
}
#wrap .slide:nth-child(7) .inside .items .text-box p{
    width: 50%;
    font-size: 24px;
    font-weight: 500;
}
#wrap .slide:nth-child(7) .inside .items .section-img{
    width: 100%;
    height: 100%;
}
#wrap .slide:nth-child(7) .inside .items .section-img .bottomimg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#wrap .slide:nth-child(7) .inside .items .section-img img{
    width: 50%;
    height: 50%;
}
/* 여덟번쨰 섹션*/
/* #wrap .slide:nth-child(8) .inside{
    width: 100%;
    height: 100%;
} */
#wrap .slide:nth-child(8) .inside .items{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
#wrap .slide:nth-child(8) .inside .items .text-box{
    width: 100%;
    min-height: 325px;
    background: #f1f1f1;
    color: #000;
    padding: 10px;
    line-height: 30px;
}
#wrap .slide:nth-child(8) .inside .items .bottom-box{
    min-height: 325px;
    width: 100%;
    display: flex;
}
#wrap .slide:nth-child(8) .inside .items .bottom-box .left-box{
    width: 50%;
    background: #fff;
    color: #000;
}
#wrap .slide:nth-child(8) .inside .items .bottom-box .right-box{
    width: 50%;
    background: #f1f1f1;
    color: #000;
}

/*footer*/
@media (max-width: 599px){
    footer {
        padding: 35px 20px 85px;
    }
}
footer {
    width: 100%;
    background: #222;
    padding: 50px 42px 84px;
    letter-spacing: .1px;
    display: flex;
    justify-content: center;
    position: relative;
}

@media (max-width: 599px){
footer div.inner-con {
    width: 100%;
}
}
footer div.inner-con {
    width: 1200px;
    position: relative;
}
/*FAMILY SITE 메뉴*/
footer div.inner-con div.top-con div.family-con {
    position: absolute;
    right: 0;
    top: 0;
}
@media (max-width: 599px){
footer div.top-con div.family-con {
    position: relative!important;
    width: 100%;
    margin-bottom: 20px;
}
}


footer div.inner-con div.top-con div.family-con h5.title {
    margin-bottom: 22px;
    color: #b2b8c0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.48px;
    font-weight: 600;
}

footer div.inner-con div.top-con div.family-con ul.footer-family {
    display: inline-block;
    width: 310px;
}

footer div.inner-con div.top-con div.family-con ul.footer-family li {
    float: left;
    width: 50%;
}

footer div.inner-con div.top-con div.family-con ul.footer-family li a {
    text-align: left;
    color: #6d7683;
    display: inline-block;
    padding-right: 20px;
    background: url(/) 100% 50% no-repeat;
}
/*FAMILY SITE 메뉴 끝*/
/*푸터메뉴 -고객센터*/
footer div.inner-con div.top-con ul.footer-menus { display: inline-block; }

@media (max-width: 599px){
    footer div.top-con ul.footer-menus li {
        margin: 20px 23px 0 0!important;
    }
}

footer div.inner-con div.top-con ul.footer-menus li {
    display: inline-block;
    margin-right: 34px;
    float: left;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -.42px;
    font-weight: 500;
}
footer div.inner-con div.top-con ul.footer-menus li a { color: #b2b8c0; }
/*푸터메뉴 끝*/

/*푸터로고*/
footer div.inner-con div.bottom-con { margin-top: 46px;}

footer div.inner-con div.bottom-con h1 {
    background: url(/) no-repeat 50% 50%;
    width: 104px;
    height: 13px;
    text-indent: -9999px;
    opacity: .6;
}

footer div.inner-con div.bottom-con p {
    color: #6d7683;
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.36px;
    font-weight: 400;
}

/*SNS*/
footer div.inner-con div.bottom-con div.sns-container { margin-top: 34px; }

footer div.inner-con div.bottom-con div.sns-container ul.inner-container {
    display: flex;
    justify-content: center;
    display: inline-block;
    width: 420px;
}

footer div.inner-con div.bottom-con div.sns-container ul.inner-container li.kakao {
    background-image: url(/images/icons/ico-kakao.png);
}
footer div.inner-con div.bottom-con div.sns-container ul.inner-container li {
    width: 36px;
    height: 36px;
    display: inline-block;
    background: url(/images/ico-blog.png) 50% 50%/100% no-repeat;
    margin-right: 3px;
    cursor: pointer;
}