@charset "UTF-8";
*{padding: 0;  margin: 0;}
html, body{height: 100%;}
body{background-color: cadetblue;}
li{ list-style: none; }
a{ text-decoration: none;  font-size: 14px; }

/* 상단메뉴 */
#header{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    box-sizing: border-box;
    /* border-bottom: 1px solid #000; */
}
#header .h-inner{
    overflow: hidden;
    width: 100%;
    position: fixed;
    float: left;
    z-index: 1000;
    position: relative;
}
/*로고*/
#header .h-inner #logo{ 
    padding: 30px;
    position: absolute;
    float: left; 
    cursor: pointer;
} 
#header .h-inner .inner #logo img{
    display: inline-block;
    height: 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-indent: -9999px;
    vertical-align: middle;
} /*로고 끝*/
#header .h-inner .inner #gnb{
    width: 100%;  
    top: 0;
    left: 0;
    overflow: hidden;  
    display: flex;
    z-index: 10000;
    background: #fff;
}
/* 하단메뉴*/
#header .h-inner .inner #gnb > li{
    width: 400px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    position: relative;
}
#gnb > li:nth-child(1){ margin-left: 450px; }
#header .h-inner .inner #gnb > li:hover{
    transition-duration: 0.5s;
    background: white;
}
#header .h-inner .inner #gnb li:hover .submenu{
    height: 250px;
    transition-duration: 1s;
    text-align: center;
    margin: 0;
    background: white;
}
.submenu>li{ line-height: 50px; }
.submenu{ height: 0; overflow: hidden; }
/*하위메뉴 끝*/
/* 로그인 */
#header .inner .login{
    width: 35%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#header .inner .login li{
    float: right;
    padding: 10px;
}

#header .inner .login li:nth-child(1){
    margin-left: 100px;
}
/* 로그인 */