/*footer*/
@media (max-width: 599px){
    footer {
        padding: 35px 20px 85px;
    }
}
footer {
    width: 100%;
    background: #222;
    padding: 50px 42px 84px;
    letter-spacing: .1px;
    display: flex;
    justify-content: center;
    position: relative;
}

@media (max-width: 599px){
footer div.inner-con {
    width: 100%;
}
}
footer div.inner-con {
    width: 1200px;
    position: relative;
}
/*FAMILY SITE 메뉴*/
footer div.inner-con div.top-con div.family-con {
    position: absolute;
    right: 0;
    top: 0;
}
@media (max-width: 599px){
footer div.top-con div.family-con {
    position: relative!important;
    width: 100%;
    margin-bottom: 20px;
}
}


footer div.inner-con div.top-con div.family-con h5.title {
    margin-bottom: 22px;
    color: #b2b8c0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.48px;
    font-weight: 600;
}

footer div.inner-con div.top-con div.family-con ul.footer-family {
    display: inline-block;
    width: 310px;
}

footer div.inner-con div.top-con div.family-con ul.footer-family li {
    float: left;
    width: 50%;
}

footer div.inner-con div.top-con div.family-con ul.footer-family li a {
    text-align: left;
    color: #6d7683;
    display: inline-block;
    padding-right: 20px;
    background: url(/) 100% 50% no-repeat;
}
/*FAMILY SITE 메뉴 끝*/
/*푸터메뉴 -고객센터*/
footer div.inner-con div.top-con ul.footer-menus { display: inline-block; }

@media (max-width: 599px){
    footer div.top-con ul.footer-menus li {
        margin: 20px 23px 0 0!important;
    }
}

footer div.inner-con div.top-con ul.footer-menus li {
    display: inline-block;
    margin-right: 34px;
    float: left;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -.42px;
    font-weight: 500;
}
footer div.inner-con div.top-con ul.footer-menus li a { color: #b2b8c0; }
/*푸터메뉴 끝*/

/*푸터로고*/
footer div.inner-con div.bottom-con { margin-top: 46px;}

footer div.inner-con div.bottom-con h1 {
    background: url(/) no-repeat 50% 50%;
    width: 104px;
    height: 13px;
    text-indent: -9999px;
    opacity: .6;
}

footer div.inner-con div.bottom-con p {
    color: #6d7683;
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.36px;
    font-weight: 400;
}

/*SNS*/
footer div.inner-con div.bottom-con div.sns-container { margin-top: 34px; }

footer div.inner-con div.bottom-con div.sns-container ul.inner-container {
    display: flex;
    justify-content: center;
    display: inline-block;
    width: 420px;
}

footer div.inner-con div.bottom-con div.sns-container ul.inner-container li.kakao {
    background-image: url(/images/icons/ico-kakao.png);
}
footer div.inner-con div.bottom-con div.sns-container ul.inner-container li {
    width: 36px;
    height: 36px;
    display: inline-block;
    background: url(/images/ico-blog.png) 50% 50%/100% no-repeat;
    margin-right: 3px;
    cursor: pointer;
}