@charset "UTF-8";
html, body{height: 100%;}
img{width: 100%;}

#wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.content{
    display: flex;
    width: 1200px;
    height: 300px;
}

.content .items{width: 25%;}
.content .items .inner{
    position: relative;
    width: 100%;
    border: 1px solid #f1f1f1;
    height: 295px;
    box-sizing: border-box;
    overflow: hidden;
}

.content .items .inner > img{
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    transform-origin: left center;
}

/* transition */
.content .items .inner:hover > img{
    /* width: 120px; */
    transform: scale(2.0, 2.0);
}