// common ui
//generanl button
.gbtn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: $gbtnColor;
  color: white;
  border: 1px solid $gbtnColor;
  &:hover {
    color: $gbtnColor;
    background: white;
  }
}
