//메인 페이지
.mainbanner {
  .mainh2{
    color: #fff;
  }
  .text-wrap{
    margin: 20px 5px;
    width: 100%;
    .text{
      color: #fff;
      background: rgba($color: #333, $alpha: .3);
      border-radius: 10px;
      height: 30px;
      width: 100px;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }
  }
  .box-wrap{
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    .box{
      position: relative;
      width: 200px;
      height: 150px;
      background: deepskyblue;
      float: left;
      h2{
        font-size: 20px;
        color: green;
      }
    }
  }
  height: 550px;
  background-image: url('../img/한강.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.inner {
  &:nth-child(1) {
    margin-top: 50px;
  }
  .box {
    &.items_2 {
      .items {
        p + a {
          margin-top: 50px;
        }
      }
    }
  }
}
