// 변수 처리

// site width
$siteWidth: 1320px;

// text size
$fontSizeTiny: 12px;
$fontSizeSmall: 14px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

// title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;


// 색상정의
// background color
$layoutBg: #fff3c4;
$tableBg: #b8944d;

//font color
$fontColorBasic: #666666;
$fontColorPrimary: #b8944d;
$fontColorHover: #e3a936;

//border color
$borderColorPrimary: #b8944d;
$borderColor1: #997939;

//button color
$gbtnColor: #b8944d;
$btnColorHover: #e3a936;
