@charset "UTF-8";
html, body{height: 100%;}
body{background-color: beige;}

#wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#wrap::before{
    content: '나가시면안되요';
    font-size: 2em;
}

@media screen and (max-width: 1200px){
    body{background-color: red; background-image: url(../../image/111.png);}
    #wrap::before{content: "middle";}
}

@media screen and (max-width: 1024px){
    body{background-color: blue; background-image: url(../../image/222.png);}
    #wrap::before{content: "desktop";}
}
@media screen and (max-width: 924px){
    body{background-color: blue; background-image: url(../../image/333.jpg);}
    #wrap::before{content: "g o o g l e 글루글루";}
}

@media screen and (max-width: 768px){
    body{background-color: green; background-image: url(../../image/444.jpg);}
    #wrap::before{content: "pad";}
}

@media screen and (max-width: 380px){
    body{background-color: yellow; background-image: url(../../image/555.jpg);}
    #wrap::before{content: "mobile";}
}

