@charset "UTF-8";
html, body{height: 100%;}
body{background-color: beige;}

#wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#wrap::before{
    content: '나가시면안되요';
    font-size: 2em;
}

/* media query area */
@media screen and ( max-width: 1420px) {
    body{background-color:tomato;}
    #wrap::before{content: '배고파';}
}

@media screen and (orientation: landscape) {
    body{background-color:blueviolet; font-size: 30px;}
    #wrap::before{content: 'blueviolet';}
}
@media screen and (orientation: portrait) {
    body{background-color:darkcyan; font-size: 30px;}
    #wrap::before{content: 'darkcyan'; }
}

@media screen and ( max-width: 992px) {
    body{background-color:deepskyblue;}
    #wrap::before{content: '만약에';}
}
@media screen and ( max-width: 768px) {
    body{background-color: green;}
    #wrap::before{content: '수업시작하겠습니다.';}
}

@media screen and ( max-width: 600px){
    body{background-color: blue;}
    #wrap::before{content: '참쉽죠?';}
}

@media screen and (min-width:320px) and (max-width: 450px){
    body{background-color: cadetblue;}
    #wrap::before{content: '자 그러면은 여기다가';}
}